/*-------------------- MENU --------------------*/
.animated-home header{
	opacity: 0;
}

header {
	min-height:56px;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width:100%;
	padding: 5px 0 0;
	transition: .4s ease;
	display: flex;
	align-items: center;
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1100px;
		width: 100%;
	}
}
@media(max-width: 767px){
	.header-scroll{
		background-color: rgba(255,255,255,.96);
		box-shadow: 0 0 0px 1px rgba(0,0,0,.1);
	}
	header{
		position: fixed;
	}
}
@media(min-width: 768px){
	.header-top {
		top: -100px;
		position: fixed;
		background-color: rgba(255,255,255,0.96);
		box-shadow: 0 0 0px 1px rgba(0,0,0,0.1)
	}
	.header-scroll {
		top:0;
	}
}
.nav-menu {
	width:100% !important;
	position: absolute;
	left: -100%;
	top: 0;
	z-index: 3;
	height: 100vh;
	transition: .3s ease-in-out;
	opacity: 0;
	padding: 70px 0;
}
.nav-menu.active{
	left: 0;
	opacity: 1;
}
@media (min-width:768px){
	.nav-menu{
		margin-top: 0;
		display:block !important;
		width:auto !important;
		position: relative;
		left: auto;
		top: auto;
		background-color: transparent;
		z-index: 0;
		height: auto;
		opacity: 1;
		padding: 0;
	}
}
.nav-list{
	overflow: hidden;
	overflow-y: auto;
	max-height: 100%;
}
.nav-list li{
	display:block;
	vertical-align:top;
	position: relative;
}
@media (min-width:768px){
	.nav-list{
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: visible;
		max-height: none;
		transition: .3s ease;
	}
	.nav-list>li{
		display:inline-block;
		text-align:left;
	}
	.nav-list>li{
		>a{
			padding: 0;
			&:before{
				content: '';
				position: absolute;
				bottom: -15px;
				left: 50%;
				transform: translate(-50%,0);
				height: 2px;
				width: 0;
				background-color: #2125A5;
				transition: .4s ease;
			}
			&:hover{
				&:before{
					width: 100%;				
				}
			}
		}
		&.active{
			>a{
				color:#2125A5;
			}
		}
	}
}
.nav-list li a:hover{
	color:#2125A5;
}
.nav-list>li>a{
	font-size: 16px;
	text-decoration: none;
	line-height: 22px;
}
.nav-list li{
	margin-right: 25px;
	&:last-child{
		margin-right: 0;
	}
	a{
		font-weight: 400;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition:all 0.3s ease;
		color: #333;
	}
}
.nav-btn{
	display:block;
	height:34px;
	position:absolute;
	right:2px;
	top:23px;
	width:60px;
	padding:10px 15px;
	z-index:4;
	overflow:hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: transparent;
	border: none;
}
@media (min-width:768px){
	.nav-btn{
		display:none;
	}
}
.nav-btn span{
	background-color:#333;
	height:2px;
	width:30px;
	display:block;
	margin-bottom: 5px;
	position:relative;
	transition:all 0.2s ease;
	border-radius: 5px;
}
.nav-btn span:nth-child(2){
	width: 16px;
	margin-bottom: 0;
}
.nav-btn{
	&.active{
		span{
			transform: rotate(45deg);
			&:nth-child(2){
				width: 30px;
				transform: rotate(-45deg) translate(4px, -5px);
			}
		}
	}
}
body.no-scroll{
	overflow: hidden;
}
.nav-email{
	display: none;
	color: #2B2E97;
	line-height: 20px;
	font-size: 14px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%,0);
	text-decoration: none;
	@media(max-width: 767px){
		display: block;
	}
}
/*-------------------- LOGO --------------------*/
.logo {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	position: relative;
	z-index: 4;
	img{
		transition: .4s ease;
		max-width: 115px;
	}
}

/*----------------- page-product -----------------*/
.page-product{
	header{
		.nav-btn span{
			background-color: #fff;
		}
	}
	.header-scroll{
		.nav-btn span{
			background-color: #333;
		}
		@media(min-width: 768px){
			.nav-list>li{
				>a{
					color: #333;
					&:hover{
						color: #2125A5;
					}
					&:before{
						background-color: #2125A5;
					}
				}
				&.active{
					>a{
						color: #2125A5;
					}
				}
			}
		}
	}
	@media(min-width: 768px){
		.nav-list>li{
			>a{
				color: #fff;
				&:before{
					background-color: #fff;
				}
			}
		}
	}
}
body.no-scroll.page-product header .nav-btn span{
	background-color: #333;
}

.page-about,
.page-product{
	.logo{
		img{
			filter: brightness(0) invert(1);
		}
	}
	.header-scroll{
		.logo img{
			filter: none;
		}
	}
}
.no-scroll.page-about .logo img,
.no-scroll.page-product .logo img{
	filter: none;
}

@media(max-width: 1199px){
	.page-about .logo img{
		filter: none;
	}
}