/*-------------------- FONTS --------------------*/
@font-face {
	font-family: 'F37 Ginger';
	src: url('../fonts/F37Ginger-Regular.eot');
	src: url('../fonts/F37Ginger-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/F37Ginger-Regular.woff') format('woff'),
	url('../fonts/F37Ginger-Regular.woff2') format('woff2'),
	url('../fonts/F37Ginger-Regular.ttf')  format('truetype');
	font-style:   normal;
	font-weight:  400;
}

@font-face {
	font-family: 'F37 Ginger';
	src: url('../fonts/F37Ginger-Bold.eot');
	src: url('../fonts/F37Ginger-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/F37Ginger-Bold.woff') format('woff'),
	url('../fonts/F37Ginger-Bold.woff2') format('woff2'),
	url('../fonts/F37Ginger-Bold.ttf')  format('truetype');
	font-style:   normal;
	font-weight:  700;
}
@font-face {
	font-family: 'F37 Ginger';
	src: url('../fonts/F37Ginger-Light.eot');
	src: url('../fonts/F37Ginger-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/F37Ginger-Light.woff') format('woff'),
	url('../fonts/F37Ginger-Light.woff2') format('woff2'),
	url('../fonts/F37Ginger-Light.ttf')  format('truetype');
	font-style:   normal;
	font-weight:  200;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

// font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
/*-------------------- DEFAULT STYLES --------------------*/
body{
	overflow-x: hidden;
	color:#333;
	line-height:1.2;
	font-size:16px;
	font-family: 'F37 Ginger', sans-serif;
	min-width: 320px;
	position: relative;
}
.hide{
	display:none;
}
button, input[type="button"], input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer;
	font-family: 'F37 Ginger', sans-serif;
}
button[disabled], html input[disabled]{
	cursor:default;
}
button::-moz-focus-inner, input::-moz-focus-inner{
	padding:0;
	border:0;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea{
	display: block;
	width: 100%;
	height: 46px;
	padding: 0 20px;
	font-family: 'F37 Ginger', sans-serif;
}
input::-moz-placeholder {             color: #5a595a;}
input::-webkit-input-placeholder {    color: #5a595a;}
input:-ms-input-placeholder {         color: #5a595a;}
input::-ms-input-placeholder {        color: #5a595a;}
input::placeholder {                  color: #5a595a;}
textarea::-moz-placeholder {          color: #5a595a;}
textarea::-webkit-input-placeholder { color: #5a595a;}
textarea:-ms-input-placeholder {      color: #5a595a;}
textarea::-ms-input-placeholder {     color: #5a595a;}
textarea::placeholder {               color: #5a595a;}

.btn {
	font-size: 19px;
	letter-spacing: -0.5px;
	line-height: 52px;
	border-radius: 29px;
	display: inline-block;
	min-width: 142px;
	text-align: center;
	color: #fff;
	padding: 0 15px;
	transition: .4s ease;
	text-decoration: none;
	background-color: #3e414a;
}
.btn:hover {
	background-color: #f24a4c;
}
h2{
	font-size: 50px;
	line-height: 1.25;
	font-weight: 700;
}
